<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.lehanh.pama.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Tiếp tân"
            class="com.lehanh.pama.ui.clientcustomer.ClientCustomerPerspective"
            id="com.lehanh.pama.clientCustomerPerspective">
      </perspective>
      <perspective
            name="Bệnh nhân"
            class="com.lehanh.pama.ui.patientcase.PatientPerspective"
            id="com.lehanh.pama.patientPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.lehanh.pama.ui.clientcustomer.UserSearchView"
            id="com.lehanh.pama.userSearchView"
            name="Tiềm khách hàng"
            restorable="false">
      </view>
      <view
            class="com.lehanh.pama.ui.clientcustomer.TodayUserQueueView"
            id="com.lehanh.pama.todayUserQueueView"
            name="Danh sách chờ"
            restorable="false">
      </view>
      <view
            class="com.lehanh.pama.ui.patientcase.DetailImageView"
            id="com.lehanh.pama.detailImageView"
            name="Hình ảnh"
            restorable="false">
      </view>
      <view
            class="com.lehanh.pama.ui.patientcase.PatientCaseView"
            id="com.lehanh.pama.patientCaseView"
            name="Bệnh án"
            restorable="false">
      </view>
      <view
            class="com.lehanh.pama.ui.patientcase.PatientInfoView"
            id="com.lehanh.pama.patientInfoView"
            name="Thông tin"
            restorable="false">
      </view>
      <view
            class="com.lehanh.pama.ui.patientcase.PrescriptionView"
            id="com.lehanh.pama.prescriptionView"
            name="Toa thuốc"
            restorable="false">
      </view>
    </extension>
	<extension 
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar id="toolbar.perspectivesDynamic">
            <dynamic
                  class="com.lehanh.pama.ui.PerspectiveSwitcherToolbar"
                  id="perspectiveSwitcherToolbar">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="com.lehanh.pama.application"
          name="Pama">
       <property
             name="appName"
             value="Pama">
       </property>
    </product>
 </extension>
</plugin>
